%footer
  .container
    .row
      .contact-info.col-md-4
        %h3 Contact Us
        .location.info
          %img{alt: "", src: image_path("footer/map-icon.png")}
          %p 123 Madeup st, London, NE1 AB, United Kingdom

        .phone.info
          %img{alt: "", src: image_path("footer/phone-icon.png")}
          %p +44 123 456 7890

        .email.info
          %img{alt: "", src: image_path("footer/email-icon.png")}
          %p= mail_to('email@address.com')

      .privacy-col.col-md-8
        %h3 Privacy
        .privacy.clearfix
          %p   SampleApp is gathering data on this website with the scope of informing subscribers about the release stages of our products and providing relevant information regarding web app development.
          %p   All your data submitted to our website will be stored on our secured server and is not publicly accessible, nor will this data be shared by us with third parties without your prior consent.
          %p   By submitting any information to SampleApp you agree that your information will be used as described herein.
          %p   You have the right to request deletion, change or access to your data by using our contact address below.
          %p   For any additional info or concerns you can always contact us at email@address.com